@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
 * {
	 margin: 0;
	 padding: 0;
}
 body {
	 font-family: 'Raleway', sans-serif;
	 font-size: 4rem;
	 color: #fff;
}
 body .parallax-wrapper {
	 height: 100vh;
	 overflow-x: hidden;
	 overflow-y: auto;
	 perspective: 300px;
}
 body .parallax-wrapper .intro-screen {
	 height: 100vh;
	 background-color: tomato;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 body .parallax-wrapper .outro-screen {
	 height: 100vh;
	 background-color: teal;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 body .parallax-wrapper .parallax-group {
	 position: relative;
	 height: 100vh;
	 transform-style: preserve-3d;
}
 body .parallax-wrapper .parallax-group .parallax-layer {
	 position: absolute;
	 inset: 0;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 body .parallax-wrapper .parallax-group .base-layer {
	 transform: translateZ(-300px) scale(2);
}
 body .parallax-wrapper .parallax-group .mid-layer {
	 transform: translateZ(0);
}
 body .parallax-wrapper .parallax-group .top-layer {
	 transform: translateZ(210px) scale(0.3);
}
 body .parallax-wrapper #intro {
	 z-index: 0;
}
 body .parallax-wrapper #group-1 {
	 z-index: -1;
}
 body .parallax-wrapper #group-1 > .base-layer {
	 background-color: crimson;
}
 body .parallax-wrapper #group-2 > .mid-layer {
	 background-color: yellowgreen;
}
 